.h-main-container {
    background-image: url(../../assets/img/history-bg.jpg);
    background-size: cover;
    background-position: 50% 40%;
    min-height: 1000px;
    padding: 50px 7.5%;
}

.h-title {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;

}


.h-title h1 {
    font-family: Rubik;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;

}

.h-title p {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.h-select-all {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration-line: underline;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.h-select-all:hover {
    color: #e9e6e6;
}

.h-select-all:active {
    color: #FFFFFF;
}

.h-product-card {
    /* width: 30%; */
    min-height: 120px;
    padding: 10px 1%;
    margin: 10px 1%;

    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    display: flex;
}

.h-product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.h-product-img {
    width: 80px;
}

.h-product-info {
    display: flex;
    flex-direction: column;
}

.h-product-name {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;

}

.h-product-price-status-container {
    display: flex;
}

.h-product-price-status {
    flex: 3;
}

.h-product-price {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #895537;


}

.h-product-status {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.h-product-checklist {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}