@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&family=Rubik:wght@300;400;500;700&display=swap');

.logo-pict {
    width: 30px;
}

.custom-nav-container {
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 0% 7.5%;
    display: flex;
    justify-content: space-between;
}

.custom-coffeeshop-logo{
    width: 20%;
}
.coffeeshop-logo {
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}

.custom-nav-list{
    width: 50%;
}

.custom-nav-list ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.custom-nav-list li {
    display: inline;
    margin: 0px 5%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #4F5665;
}

.custom-active-nav {
    text-decoration: none;
    color: #6A4029;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.custom-inactive-nav {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    text-decoration: none;
    color: #4F5665;
}

.custom-nav-list a:hover {
    text-decoration: none;
    color: #6A4029;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.custom-nav-right{
    width: 30%;
}

.custom-nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.custom-active-nav {
    text-decoration: none;
    color: #6A4029;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.custom-login-button {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0B132A;
    align-items: center;
    cursor: pointer;
    width: 50%;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.custom-login-button a {
    text-decoration: none;
    color: #0B132A;
}

.custom-signup-button {
    width: 50%;
    height: 45px;

    background: #FFBA33;
    border-radius: 50px;

    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #6A4029;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.custom-signup-button a {
    text-decoration: none;
    color: #6A4029;
}

.custom-signup-button:hover {
    background-color: #fcaf16;
}

.custom-signup-button:active {
    background-color: #FFBA33;
}

.magn-glass,
.chat-logo {
    width: 30px;
    cursor: pointer;
}

.header-search-container{
    display: flex;
    /* width: 50%; */
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-chat-logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-search-input-container{
    background: #EFEEEE;
    border-radius: 30px;
    width: 100%;
    height: 30px;
}
.header-search{
    border: none;
    background: #EFEEEE;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 50px;
    width: 70%;
    height: 30px;
    padding-left: 20px;

    /* margin-top: 30px;*/
    /* or 250% */
    color: #000000;
    border-radius: 30px;
}

.header-search:focus{
    outline: none;
}
.magn-glass2{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mini-photo {
    filter: drop-shadow(0px 3px 20px rgba(106, 64, 41, 0.8));
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 2px solid #6A4029;
    border-radius: 50%;
    object-position: 100% 20%;
}

@media (max-width: 840px) {
    .custom-nav-container{
        display: flex;
        flex-direction: column;
        height: 170px;
        padding: 20px;
    }
    .custom-coffeeshop-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .custom-nav-right{
        width: 70%;
    }
    .custom-nav-icon{
        width: 100%;
    }
    .custom-nav-list{
        width: 100%;
    }
}